<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block links %}{% endblock %}

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="wrapper">
        {% include 'sidebar.html' %}
        <div class="main">
            {% include 'navbar.html' %}
            <div class="content">
                {% block main_content %}{% endblock %}
            </div>
        </div>
    </div>
</body>
{% block scripts %}{% endblock %}
</html>