{% extends 'base.html' %}

<!-- Added links -->
{% block links %}
<link rel="stylesheet" href="style.css">
{% endblock %}

<!-- Added document title -->
{% block title %}
Информационная панель
{% endblock %}

<!-- Added html-code content -->
{% block main_content %}
<div class="main_content">
    <div class="img_content">
        <img src="{{url_for('static', filename='images/3dcasual.png')}}" alt="img" />
    </div>
    <div class="text_content">
        <p class="text">
            Добро пожаловать в ДЭШ-ПАЙ!
        </p>
        <p class="subtext">
            Эта платформа предназначена для визуализации данных с использованием различных юиюлиотек языка програмирования Python.
        </p>
    </div>
</div>
{% endblock %}

<!-- Added scripts -->
{% block scripts %}

{% endblock %}