@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html{
    background-color: rgb(199, 199, 255);
    font-family: 'Roboto', sans-serif;
}


/* index.html */
.main_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.main_content .img_content img{
    max-width: 400px;
}

.main_content .text_content .text{
    text-align: center;
    font-size: 20px;
    color: black;
    margin-bottom: 10px;
    margin-top: 20px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif !important;
}
.main_content .text_content .subtext{
    text-align: center;
    font-size: 14px;
    color: black;
    max-width: 600px;
    font-family: 'Montserrat', sans-serif !important;
}

/* base.html */

.wrapper{
    display: flex;
    flex-direction: row;
    margin: 20px;
    background-color: white;
    border-radius: 20px;
    min-height: 95vh;
}

.wrapper .main{
    display: flex;
    flex-direction: column;
    width: 90%;
}


.wrapper .main .content{
    margin: 15px 5px;
    height: 100%;
}


/* navbar.html */

.navbar{
    border-bottom: 1px solid rgb(182, 182, 182);
    width: 100%;
}

.navbar .navbar_container{
    margin: 10px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbar .navbar_container .breadcrumbs_content{
    width: 100%;

}

.navbar_container .breadcrumbs_content .bradcrumb_link{
    text-decoration: none;
    color: rgb(168, 168, 168);
    font-size: 14px;
}

.navbar_container .search_content .navbar_search{
    background-color: rgb(221, 221, 221);
    border-radius: 10px;
    padding: 5px 5px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}


/* sidebar.html */

.sidebar{
    padding: 15px;
    border-right: 1px solid rgb(182, 182, 182);
    width: 10%;
}

.sidebar .sidebar_contentainer{
    display: flex;
    flex-direction: column;
}

.sidebar .sidebar_contentainer .logo{
    font-weight: bold;
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.sidebar .sidebar_contentainer .sidebar_menu{
    display: flex;
    flex-direction: column;
    margin: 50px 0px;
}

.sidebar .sidebar_contentainer .sidebar_menu .sidebar_btn{
    margin: 6px 0px;
    font-size: 16px;
    text-decoration: none;
}

.sidebar_menu .sidebar_btn .sidebar_btn_content{
    display: flex;
    flex-direction: row;
    margin: 5px 0px;

}

.sidebar_menu .sidebar_btn .sidebar_btn_content .icon{
    text-decoration: none;
}

.sidebar_menu .sidebar_btn .sidebar_btn_content .text{
    text-decoration: none;
    margin-top: 1px;
    margin-left: 10px;
    color: black;
}

.sidebar_btn:hover .sidebar_btn_content .icon .icon_img #path{
    fill: rgb(96, 96, 255) !important;
}

.sidebar_btn:hover .sidebar_btn_content .text{
    color: rgb(96, 96, 255);
}

