.main_card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 5px 0px;
    transition: .3s ease all;
}

.main_card:hover {
    box-shadow: rgba(0, 132, 255, 0.24) 0px 3px 8px;
    transition: .3s ease all;
}

.main_card .main_card__body {
    padding: 0;
}

.main_card .main_card__body .main_card__icon_container {
    border-right: 1px solid #d2d2d2;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main_card .main_card__body .main_card__text_container {
    padding: 10px 10px;
}

.main_card__icon_container .main_card__icon{
    font-size: 40px;
}