/*------------------------- RESET CSS -------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*------------------------- TEXT -------------------------*/


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    font-family: 'Roboto', sans-serif;
}

.title_content__block {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 30px;
}

.subtitle_content__block {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

.text {
    font-size: 14px;
    font-weight: 400;
    margin: 4px 0px;
    line-height: 18px;
}

.text_link {
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 10px;
}

.text_title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 5px;
}



/*------------------------- PARTIALS -------------------------*/
/*------------------------- Main Card -------------------------*/

.content__card{
    padding: 0;
    border-radius: 15;
    min-height: 96vh;
    margin: 0;
    color: rgb(0, 94, 94) !important;
}


/*------------------------- Card -------------------------*/

.main_card {
    margin: 5px 0px;
}

.main_card .main_card__body {
    padding: 0px 0px;
}

.main_card .main_card__body .main_card__icon_container {
    border-right: 1px solid #d2d2d2;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main_card .main_card__body .main_card__text_container {
    padding: 10px 10px;
    margin: 10px 0px;
}

.main_card__icon_container .main_card__icon {
    font-size: 40px;
}

.right_part__container{
    position: absolute;
    right: 0;
}

/*------------------------- Sidebar -------------------------*/

.sidebar__btn_links {
    padding: 20px 0px;
    margin: 0px;
    text-decoration: none;
    transition: .3s ease all;
    text-align: center;
    border-bottom: 1px solid #2b2b2b;
    color: #2b2b2b;
}

.sidebar__links{
    padding: 0;
    margin: 0;
}

.sidebar {
    height: 100%;
    width: 100%;
}

.sidebar__btn_links:hover {
    background-color: #2b2b2b;
    transition: .3s ease all;
    color: white !important;
}

.sidebar_container {
    height: 100% !important;
    min-height: 100%;
    position: fixed;
}

.sidebar__logo {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin: 20px 0px
}

/* .sidebar__btn_links:nth-last-child(-n+2) {
	position: relative;
    bottom: 0;
    z-index: 10;
} */


/*------------------------- Header -------------------------*/

.header {
    padding-top: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #2b2b2b;
    margin: 0;
}

.header .breadcrumb {
    text-decoration: none;
}

.date_container__header{
    text-align: right;
    display: flex;
    justify-content: end;
}

/*------------------------- Accordion -------------------------*/

.accordion {
    margin: 10px 0px;
}


/*------------------------- Datetime input -------------------------*/

.DateInput_input {
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif !important;
    text-align: center;
}

.DateInput_input::placeholder {
    font-family: 'Roboto', sans-serif !important;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/*------------------------- Alert -------------------------*/

.alert{
    min-height: 200px;
}



/*------------------------- PAGES -------------------------*/
/*------------------------- Not found page -------------------------*/
.notfound_content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.notfound__text_title{
    font-size: 20px;
    font-weight: bold;
    color: #0077b6;
    margin-top: 15px;
}

.notfound__text_subtitle{
    font-size: 16px;
    color: #0077b6;
    text-align: center;
    max-width: 500px;
}

.notfound_content__images{
    width: 400px;
    margin-top: 100px;
}

/*------------------------- Start page -------------------------*/

.start_content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.start__text_title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
    text-align: center;
    margin-bottom: 10px;
}

.start__text_subtitle {
    font-size: 16px;
    text-align: center;
    max-width: 500px;
    line-height: 18px;
    margin-bottom: 30px;
}

.start_content__images {
    width: 400px;
    margin-top: 60px;
}